In [46]:
import json
import pandas as pd
'''
with open('transaction-data-adhoc-analysis.json') as f:
    data = json.load(f)
    '''
udata = pd.read_json('transaction-data-adhoc-analysis.json', orient='column')
df = pd.DataFrame(udata)
'''
def items(x):
    letters = [stri(i) for i in list['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','x','y','z']]
    x =''.join([i for i in x if i in letters])
    return x
df['transaction_items'] = items
'''
df = df[['transaction_items', 'transaction_value']]
df

                                       transaction_items  transaction_value
0                      Exotic Extras,Beef Chicharon,(x4)               5196
1      Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...              12056
2      HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...               5500
3                    HealthyKid 3+,Yummy Vegetables,(x1)                500
4      Candy City,Orange Beans,(x3);Candy City,Gummy ...               2697
...                                                  ...                ...
83031  Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...               3588
83032  HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...               2095
83033  Candy City,Orange Beans,(x4);Candy City,Gummy ...               3396
83034  HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...               4280
83035  HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...               2639

[83036 rows x 2 columns]